<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu">
            <li class="start">
                <a href="./task/mytask?taskStatus=0">
                    <i class="icon-note"></i>
                    <span class="title" >我的任务</span>
                    <span class="arrow open"></span>
                </a>

            </li>

            <li>
                <a href="./projectManager/myproject">
                    <i class="icon-folder"></i>
                    <span class="title">我的项目</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">

                    <li>
                        <a href="./projectManager/addProjectView">>创建项目</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="./corpus/menIndex.do">
                    <i class="icon-notebook"></i>
                    <span class="title">我的语料</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="./corpus/menIndex.do">>记忆库</a>
                    </li>
                    <li>
                        <a href="./corpus/termIndex.do">>术语库</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="./team/teamIndex.do?teanName=">
                    <i class="icon-users"></i>
                    <span class="title">我的团队</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="./team/teamIndex.do?teanName=">>团队管理</a></li>
                    <li><a href="./team/updateTeamPage.do">>团队信息</a></li>
                    <li><a href="./team/approval.do">>审核验证</a></li>
                    <li><a href="./team/invite.do">>邀请注册</a></li>
                </ul>
            </li>

            <li class="last ">
                <a href="./order/orderIndex.do?order_status=0">
                    <i class="icon-list"></i>
                    <span class="title">我的订单</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="./order/orderIndex.do?order_status=0">>待支付</a></li>
                    <li><a href="./order/order_payed.do">>已支付</a></li>
                </ul>
            </li>

            <li class="last ">
                <a href="./wallet/index.do">
                    <i class="icon-wallet"></i>
                    <span class="title">我的钱包</span>
                    <span class="arrow "></span>
                </a>
            </li>

            <li>
                <a href="./message/mymessage.do">
                    <i class="icon-envelope"></i>
                    <span class="title">我的消息</span>
                    <span class="arrow "></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END SIDEBAR -->
