.d {
	/* @meta {"spritesheet": {"include": false}} */
	background: url("../../img/sprite/z_endnote.png");
}

.e {
	background: url("../../img/spritesheet.png");
	background-position: -0px -0px;
}

.f {
	background: url("../../img/spritesheet.png");
	background-position: -21px -0px;
}

.d1 {
	background: url("../../img/spritesheet.png");
	background-position: -21px -0px;
}