.a{
    background: url("../../img/sprite/word_style.png");
}
.b{
    background: url("../../img/sprite/word_tab.png");
}
.c{
    background: url("../../img/sprite/xls.gif");
}
.d{
    /* @meta {"spritesheet": {"include": false}} */
    background: url("../../img/sprite/z_endnote.png");
}
.e{
    background: url("../../img/sprite/z_excel_enter.png");
}
.f{
    background: url("../../img/sprite/z_fontnote.png");
}
