
.d{
    /* @meta {"spritesheet": {"include": false}} */
    background: url("../../img/sprite/z_endnote.png");
}
.e{
    background: url("../../img/sprite/z_excel_enter.png");
}
.f{
    background: url("../../img/sprite/z_fontnote.png");
}
.d1{
    background: url("../../img/sprite/z_fontnote.png");
}
